@import url("variables.css");

* {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bg-body);
}
a {
  text-decoration: none;
  color: white;
  font-size: clamp(0.75rem, 1vw + 0.25rem, 2rem);
  text-align: center;
}
input {
  border: unset;
}
