@import url("variables.css");

* {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s;
}
body {
  min-height: 300vh;
  background-color: white;
}
a {
  text-decoration: none;
  color: white;
  font-size: clamp(0.75rem, 1vw + 0.25rem, 2rem);
  text-align: center;
}
input {
  border: unset;
}
h2 {
  text-align: center;
  margin-bottom: 1rem;
}
h3 {
  margin: 0;
}
a:hover {
  opacity: 0.8;
}
@media (min-width: 40.625rem) {
  body {
    background-color: var(--bg-body);
  }
}
