@import url(variables.css);
.hero {
  padding: var(--padding);
}

h1 {
  font-size: clamp(1.5rem, 3vw + 1rem, 3rem);
}
.hero-input {
  position: relative;
  width: 100%;
}

.hero-left {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  /* align-items: center; */
}

.hero-input > input,
.claiming-input input {
  box-shadow: 0 0.0625rem 0.1875rem rgba(34, 34, 34, 0.1626);
  font-size: clamp(0.55 rem, 2vw + 0.1rem, 1.3rem);
  position: relative;
  width: 100%;
  height: 3.5rem;
  padding: 0 3rem 0 2rem;
  border-radius: var(--raduis);
}

.search,
.location {
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  padding: 0.5em !important;
}
.location {
  left: 2%;
  z-index: 1;
}
.hero > img {
  width: 100%;
  max-width: 44.375rem;
}

.featured-listing,
.event {
  width: 100%;
  gap: 1rem;
}
.card {
  overflow: hidden;
}
.img-container > img {
  max-width: 100%;
}
.img-container {
  position: relative;
  border-radius: 0.4rem;
  overflow: hidden;
}
.date-label {
  position: absolute;
  padding: 0.3rem 0.75rem;
  right: 0;
  text-align: center;
  color: white;
  border-radius: 0 0 0.25rem 0.25rem;
  transform: translateX(-20%);
}
.label {
  position: absolute;
  padding: 0.3125rem 1rem;
  font-size: 0.625rem;
  border-radius: 0.25rem;
  transform: translate(20%, 50%);
}
.second {
  left: 20%;
}
.face {
  overflow: hidden;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-20%, -15%);
}
.face > img {
  object-fit: cover;
  border-radius: 200rem;
  width: 3.125rem;
  height: 3.125rem;
}
.title-row {
  justify-content: space-between;
}
.card-content {
  padding: 1.25rem;
  padding-top: 0.75rem;
  align-items: normal;
  gap: 0.5rem;
  padding-bottom: 0.5rem;
}
.enter {
  color: white;
  padding: 0.75rem !important;
  right: 2%;
}
.subtitle {
  color: var(--trans-text);
  text-align: start;
}
.distance {
  display: flex;
  gap: 0.25rem;
  font-size: 0.75rem;
}

.orange {
  background-color: var(--bg-orange);
  color: white;
}
.green {
  background-color: var(--bg-green);
  color: white;
}

.features {
  justify-content: flex-start;
  gap: 1rem;
}
.separator {
  border-bottom: 0.0625rem solid var(--trans-text);
}
.cards-contianer {
  gap: min(2vw, 1.5rem);
}

.card-button {
  padding: 0.625rem;
  background-color: var(--bg-icon);
  border-radius: 100rem;
  &:hover {
    background: var(--bg-green);
  }
}
.dot {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 10rem;
}
.trackers {
  gap: 0.5rem;
}
.inactive {
  background-color: var(--bg-tracker);
}
.active {
  border: 0.125rem solid var(--bg-h-green);
}

.bg-color-grey {
  background-color: var(--bg-body);
}
.schedule {
  gap: 1.1rem;
}
.checked {
  border-bottom: 0.125rem solid var(--bg-green);
  color: var(--bg-green);
}
.plus-icon {
  color: var(--bg-green);
  padding: 0.5rem;
  width: 100%;
  border: 0.0625rem solid var(--bg-green);
  border-radius: 50%;
  &:hover {
    background: var(--bg-green);
    color: white;
  }
}

.with-shadow {
  border-radius: 0.4rem;
  box-shadow: 0 0.0625rem 0.625rem #3377ff48;
}
.to-right {
  display: flex;
  justify-content: end;
  gap: 0.1rem;
  font-size: 0.75rem;
}
.slider-container {
  position: relative;
  gap: 1rem;

  &::after,
  &::before {
    font-family: "Font Awesome 7 Free";
    font-weight: 900;
    background-color: var(--bg-green);
    position: absolute;
    top: 50%;
    text-align: center;
    padding: 0.5rem;
    color: white;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    z-index: 1;
  }
  &::before {
    content: "\f104";
    transform: translate(-50%, -50%);
    left: 0;
  }
  &::after {
    content: "\f105";
    transform: translate(50%, -50%);
    right: 0;
  }
}
.green-text {
  color: var(--bg-green);
}
.services {
  gap: 1rem;
}
.gap-1 > h2 {
  margin: 0;
  font-size: clamp(1.5rem, 2.5vw + 0.5rem, 3rem);
}
.services-list {
  gap: min(2rem, 2vw);
}

.city-imgs {
  position: relative;
  overflow: hidden;
  & .overlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    background-color: black;
    width: 100%;
    height: 100%;
  }
  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  & .trackers {
    bottom: 5%;
    right: 50%;
    transform: translateX(50%);
    & .inactive {
      background-color: white;
    }
  }
  & .floating-text {
    bottom: 10%;
    left: 10%;
    color: white;
    & > h2 {
      margin: 0;
    }
  }
}

.top-padding {
  padding-top: 1rem;
}
.claim-address {
  position: relative;
  width: 100%;

  & > img {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }
  & .claiming-input {
    position: absolute;
    width: 100%;
    top: 50%;
  }
  & .input-container {
    width: 90%;
    right: 50%;
    transform: translateX(50%);
  }
}
.display-content {
  display: contents;
}

.pin-start-icon {
  align-self: center;
  position: absolute;
  top: 10%;
  right: 50%;
  transform: translateX(50%);
}

@media (min-width: 40.625rem) {
  .hero {
    flex-direction: row;
    background-color: white;
  }
  .services {
    background-color: white;
  }
  .hero > img {
    width: 50vw;
  }
  .hero-input {
    width: 85%;
  }
  .services {
    flex-direction: row;
  }
  .featured-listing {
    background-color: white;
  }
  .formmatting-on-desktop {
    max-width: 30vw;
  }

  .claim-address > img {
    width: 100%;
    height: unset;
  }
  .display-content {
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    width: 30%;
    display: inline;
    & h2 {
      font-size: clamp(1rem, 0.5rem + 0.5vw, 1.5rem);
    }
  }
  .cities-section {
    padding: var(--padding) !important;
  }

  .grid-citys {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    gap: 1rem;
  }
  .main-img {
    grid-column: 1/3;
    grid-row: 1 / 3;
  }

  .city-imgs {
    border-radius: 1rem;
    &:hover {
      transform: scale(1.05);
    }
  }
  .card:hover {
    transform: scale(1.05);
  }
}
