@import url(variables.css);
.hero {
  padding: var(--padding);
}

h1 {
  font-size: clamp(1rem, 7vw + 0.1rem, 5rem);
}
.hero-input {
  position: relative;
  width: 100%;
}

.hero-input > input {
  box-shadow: 0 1px 3px rgba(34, 34, 34, 0.1626);
  font-size: 0.71rem;
  position: relative;
  width: 100%;
  height: 3.5rem;
  padding: 0 3rem 0 2rem;
  outline: none;
  border-radius: var(--raduis);
}
.absulote {
  position: absolute;
}
.search,
.location {
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  padding: 0.5em !important;
  /* border-radius: 50% !important; */
}
.location {
  left: 2%;
  z-index: 1;
}
