.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row {
  flex-direction: row;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.space-between {
  justify-content: space-between;
}
