@import url(variables.css);
.header-wrapper {
  justify-content: space-between;
  padding: var(--padding);
  white-space: nowrap;
  margin: auto;
}
header {
  background-color: var(--bg-black);
  width: 100%;
}


.placeholder {
  visibility: hidden;
}

.logo-header {
  max-width: 6.25rem;
}

