@import url(variables.css);
.button {
  padding: 0.625rem 1.25rem;
  border-radius: var(--raduis);
}
.green-fill {
  background-color: var(--bg-green);
}
.small-font {
  font-size: 0.75rem;
}
.show-on-desktop {
  display: none;
}
.no-padding {
  padding: 0;
}
.no-gap {
  gap: 0 !important;
}

.service {
  text-align: center;
}
.gap-3 {
  gap: 3rem;
}
.gap-1 {
  gap: 1rem;
}
.start {
  align-self: flex-start;
}
.bg-white {
  background-color: white;
}

main section,
.header-wrapper,
footer section {
  width: 100%;
  max-width: 90rem;
  padding: var(--padding);
}
.absulote {
  position: absolute;
}
.show-on-mobile {
  display: flex;
}
.vertical-centering {
  align-items: center;
  display: flex;
}
@media (min-width: 40.625rem) {
  .show-on-desktop {
    display: block;
  }
  .nav-buttons,
  .login-container {
    display: flex;
  }
  .placeholder,
  .show-on-mobile {
    display: none;
  }
}
@media (min-width: 40.625rem) and (max-width: 48rem) {
  .hide-on-tablet {
    display: none;
  }
  .grid-citys {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
