:root {
  --hd-bg-color: #222;
  --bg-black: #222;

  --bg-green: #b2d235;
  --bg-orange: #fe5d26;
  --bg-icon: #f4f4f4;
  --bg-tracker: #d8d8d8;
  --bg-body: #fafafa;
  --gb-footer-grey: #f5f5f5;

  /* hover */
  --bg-h-green: #aad300;

  /* Fonts */
  --footer-txt-grey: #6f7076;
  --trans-text: #22222280;

  /* border raduis */
  --raduis: 200rem;

  /* spacing */
  --gap: min(1em, 3vw);
  --padding: 1rem 1.25rem;
}
